{#- Language switcher -#}
{%- if page.translations|default({})|length >= 1 -%}
  {%- for p in page.translations -%}
    {%- if p.language is defined -%}
<a href="{{ url(p) }}">{{ site.language.name(p.language) }}</a>{% if not loop.last %}, {% endif %}
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}