{#- Language switcher -#}
{#- label = 'code' -#}
{%- if page.translations|default([])|length >= 1 -%}
  {%- for p in page.translations -%}
    {%- if p.language is defined -%}
<a href="{{ url(p) }}">{% if label|default == 'code' %}{{ p.language|upper }}{% else %}{{ site.language.name(p.language) }}{% endif %}</a>{% if not loop.last %}, {% endif %}
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}