      {%- if menu|length > 1 ~%}
      <nav>
        <ol>
        {%- for item in attribute(site.menus, menu)|sort_by_weight ~%}
          <li><a href="{{ url(item.url) }}">{{ item.name }}</a></li>
        {%- endfor ~%}
        </ol>
      </nav>
      {%- endif ~%}