        {%- if page.paginator ~%}
        {%- set links = page.paginator.links ~%}
        <nav>
          <ul>
            {%- if links.prev is defined ~%}
            <li><a href="{{ url(links.prev) }}">Previous</a></li>
            {%- else ~%}
            <li>Previous</li>
            {%- endif ~%}
            {%- if links.next is defined ~%}
            <li><a href="{{ url(links.next) }}">Next</a></li>
            {%- else ~%}
            <li>Next</li>
            {%- endif ~%}
          </ul>
        </nav>
        {%- endif ~%}