{#- param: vocabulary ~#}
{%- for vocab in site.taxonomies|filter(v => v.id == vocabulary|default or vocabulary|default is empty) ~%}
  {%- set vocabulary = vocab.id ~%}
  {%- if attribute(page, vocabulary) is defined ~%}
    {%- for term in attribute(page, vocabulary) ~%}
        <a href="{{ url(vocabulary ~ '/' ~ term, {language: site.language}) }}">#{{ term }}</a>{% if not loop.last %}&nbsp;{% endif %}
    {%- endfor ~%}
  {%- endif ~%}
{%- endfor ~%}