{% extends '_default/page.html.twig' %}

{% block content %}
<p>{{ page.content }}</p>
<pre>config.title</pre><p>{{ config.title }}</p>
<pre>config.date.timezone</pre><p>{{ config.date.timezone }}</p>
{% endblock content %}
