{% set pages = site.pages|filterBy('section', page.path)|sortByDate %}
{% if page.pages is defined %}
{% set pages = page.pages %}
{% endif %}
{% if page.pagination.pages is defined %}
{% set pages = page.pagination.pages %}
{% endif %}

{% extends '_default/page.html.twig' %}

{% block content %}
      <div class="posts">
{% for post in pages %}
        <div class="post">
{% block post %}
          <h1 class="post-title">
            <a href="{{ url(post) }}">{{ post.title|e }}</a>
          </h1>
          <span class="post-date">{{ post.date|date("j M Y") }}</span>
          {{ post.content|excerptHtml }}
{% endblock post %}
        </div>
{% endfor %}
      </div>
{% include 'partials/pagination.html.twig' %}
{% endblock content %}
