{% extends ['page.html.twig', '_default/page.html.twig'] %}

{% block content %}

<h3>Ancestors</h3>

<blockquote>
{% for item in page.ancestors|reverse %}
  {% if loop.index != 1 %} > {% endif %}
  <a href="{{ url(item) }}">{{ item.title }}</a>
{% endfor %}
</blockquote>

{% endblock %}