{% extends ['page.html.twig', '_default/page.html.twig'] %}

{% block content %}

<h3>Ancestors</h3>
<a href="{{ url(site.home) }}">Home</a>
{% for item in page.ancestors|reverse %}
  > <a href="{{ url(item) }}">{{ item.title }}</a>
{% endfor %}

<br />

{% endblock %}