# Ignore dependencies and build artifacts
coverage/
phpdoc/
vendor/
phpdoc
.phpdoc/cache/
.php-cs-fixer.cache
.phpmd.result-cache.php
.phpunit.result.cache
# If you run Cecil here
_site/
.cache/
.cecil/
# Environment variables
.env
