# Files to exclude when creating archive
dist/ export-ignore
tests/ export-ignore
.* export-ignore
deploy.sh export-ignore
phpunit.xml.dist export-ignore

# Auto detect text files and perform LF normalization
* text=auto
