# Files to exclude when creating archive
.* export-ignore
dist/ export-ignore
scripts/ export-ignore
tests/ export-ignore
phpunit.xml.dist export-ignore

# Auto detect text files and perform LF normalization
* text=auto
