<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
  backupGlobals="false"
  colors="true"
  bootstrap="./vendor/autoload.php"
>
  <source>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
    <exclude>
      <directory>./tests</directory>
      <directory>./vendor</directory>
    </exclude>
  </source>
  <php>
    <ini name="error_reporting" value="-1"/>
    <ini name="date.timezone" value="Europe/Paris"/>
  </php>
  <testsuites>
    <testsuite name="IntegrationTests">
      <file>./tests/IntegrationTests.php</file>
    </testsuite>
    <testsuite name="IntegrationCliTests">
      <file>./tests/IntegrationCliTests.php</file>
    </testsuite>
  </testsuites>
</phpunit>
