{% extends '_default/page.html.twig' %}

      {%- block content ~%}
      {{- parent() ~}}
      <ul>
        {%- for term in page.terms ~%}
        <li>
          <h2><a href="{{ url(page.path ~ '/' ~ term.id) }}">{{ term.name }}</a> ({{ term|length }})</h2>
        </li>
        {%- endfor ~%}
      </ul>
      {%- endblock ~%}