{% extends ['page.html.twig', '_default/page.html.twig'] %}

      {%- block content ~%}
      {{- parent() ~}}
      <ul>
        {%- for term in page.terms ~%}
        <li>
          <h2><a href="{{ url(term.id, {language: site.language}) }}">{{ term.name }}</a> ({{ term|length }})</h2>
        </li>
        {%- endfor ~%}
      </ul>
      {%- endblock ~%}