<!DOCTYPE html>
<html lang="{{ site.language }}">
<head>
    <meta charset="utf8" />
    <title>{{ site.title}} - {{ page.title }}</title>
    <meta name="description" content="{{ site.description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/font.css">
    <link rel="stylesheet" type="text/css" href="/css/siimple.min.css">
</head>
<body>
<div id="main" class="grid grid-fluid">
    <div class="row">
        <div class="col-12">
            <h1><a href="{{ site.baseurl}}">{{ site.title }}</a></h1>
            <h3>{{ site.baseline }}</h3>
            <p>{{ page.content }}</p>
            <div id="footer"><a href="{{ phpoole.url }}">{{ phpoole.poweredby }}</a></div>
        </div>
    </div>
</div>
</body>
</html>