{% extends '_default/page.html.twig' %}

{% block content %}
{{ page.content }}
<quote>Page from 'a-theme > layouts > project > page.html.twig'</quote>
{% if page.categories is defined %}
<ul>
{% for category in page.categories %}
<li><a href="{{ url('categories/' ~ category) }}">#{{ category }}</a></li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}
