<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

{% include 'include/head.html' %}

<body>

{% include 'include/sidebar.html' %}

<div class="content container">
    <div class="posts">
        {% for post in site.pages|filterBySection(page.pathname)|sortByDate %}
        <div class="post">
            <h1 class="post-title">
                <a href="{{ url(post) }}">
                    {{ post.title }}
                </a>
            </h1>

            <span class="post-date">{{ post.date|date("j M Y") }}</span>

            {{ post.content|excerpt }}
        </div>
        {% endfor %}
    </div>
</div>

</body>
</html>
