<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

{% include 'include/head.html' %}

<body>

{% include 'include/sidebar.html' %}

<div class="content container">
    <h1>{{ page.plural }}</h1>
    <ul>
        {% for name, term in page.terms %}
        <li><h2><a href="{{ url(page.plural ~ '/' ~ name) }}">{{ name }}</a> ({{ term|length }})</h2>
            <ul>
                {% for page in term %}
                <li><a href="{{ url(page) }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</div>

</body>
</html>
