{% extends '_default/page.html.twig' %}

{% block content %}
{% set vocabulary = page.singular %}
{% set term = page %}
<h1 class="page-title">{{ vocabulary|title }} "{{ term.title }}"</h1>
<ul>
{% for page in term.pages|sortByDate %}
    <li>
        <a href="{{ url(page) }}">{{ page.title }}</a>
    </li>
{% endfor %}
</ul>
{% endblock %}
