{% extends '_default/page.html.twig' %}

{% block content %}
{{ parent() }}
<ul>
{% for page in page.pages|sortByDate %}
    <li>
        <h2><a href="{{ url(page) }}">{{ page.title }}</a></h2>
    </li>
{% endfor %}
</ul>
{% endblock %}
