<!DOCTYPE html>
<html>
  <head lang="{{ page.language|default(site.language) }}">
    <meta charset="utf-8">
    <title>Redirecting&hellip;</title>
    <link rel="canonical" href="{{ url(page.redirect, {canonical: true}) }}" />
    <meta name="robots" content="noindex" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="refresh" content="0;url={{ url(page.redirect, {canonical: true}) }}" />
    <script>
      window.location.assign("{{ url(page.redirect, {canonical: true}) }}");
    </script>
  </head>
  <body>
    <h1>Redirecting&hellip;</h1>
    <a href="{{ url(page.redirect) }}">Click here if you are not redirected.</a>
    {%- if site.googleanalytics is defined ~%}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.googleanalytics }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ site.googleanalytics }}');
    </script>
    {%- endif ~%}
  </body>
</html>