name: 'Update CHANGELOG'

on:
  push:
    branches:
      - '5'
      - master
    paths-ignore:
      - 'docs/**'
      - '.github/**'

jobs:
  generate_changelog:
    name: Generate changelog
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source code
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Install Node
      uses: actions/setup-node@v2

    - name: Install auto-changelog
      run: npm install -g auto-changelog

    - name: Run auto-changelog
      run: auto-changelog --ignore-commit-pattern "^[Uu]pdate.*"

    - name: Commit changelog
      run: |
        git config --global user.name 'Arnaud Ligny'
        git config --global user.email 'arnaudligny@users.noreply.github.com'
        git commit -am "Update CHANGELOG"
        git push origin master
