name: 'Deploy documentation'

on:
  push:
    branches:
      - master
    paths:
      - 'docs/**.md'
  #pull_request:
  #  paths:
  #    - 'docs/**.md'

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source code
      uses: actions/checkout@v2
      with:
        fetch-depth: 1

    - name: Push files
      run: bash ./scripts/deploy-docs.sh
      env:
        TARGET_BRANCH: ${{ github.head_ref || github.ref_name }}
        GITHUB_TOKEN: ${{ secrets.REPOS_TOKEN }}
