name: 'Documentation'

on:
  push:
    branches:
      - master
    paths:
      - 'docs/**.md'
  #pull_request:
  #  paths:
  #    - 'docs/**.md'

jobs:
  deploy:
    name: Deploy documentation
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - uses: DavidAnson/markdownlint-cli2-action@v9
        with:
          command: config
          globs: |
            .markdownlint.yaml
            'docs/**.md'
        continue-on-error: true

      - name: Push files
        run: bash ./scripts/deploy-docs.sh
        env:
          TARGET_BRANCH: ${{ github.head_ref || github.ref_name }}
          GITHUB_TOKEN: ${{ secrets.REPOS_TOKEN }}
