{% extends '_default/page.html.twig' %}

{% block content %}

<details>
  <summary>All pages</summary>
  <ul>
    {% for item in site.pages|sort_by_title %}
    {% include 'includes/page_li.html.twig' %}
    {% endfor %}
  </ul>
</details>

{% if site.foo is defined %}
Imported config (from theme(s)):
<p>Variable `foo`=`{{ site.foo }}`</p>
{% endif %}

{% endblock %}
